
@import "banner";
@import "features";
@import "works";
@import "teams";
@import "testimonials";
@import "download";
@import "footer";
@import "media";

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Releway", sans-serif;
  font-weight: 400;
  color: #6c7279;

}

body * {
  box-sizing: border-box;
}

.centerContainers {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}



