/*
@import "footer";

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}


.socialIcons, .footerItem a {
  border: 1px solid rgb(232, 236, 238);
  border-radius: 2px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}


a{
  text-decoration: none;
  color: inherit;
}

a:hover, a:active{

  transition: background-color, color, 0.3s;
}*/


body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Releway", sans-serif;
  font-weight: 400;
  color: #6c7279;

}

body * {
  box-sizing: border-box;
}

#banner {
  min-height: 750px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/banner.jpg');

}

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.centerContainers {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.headerContent {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 40px 0;
  display: flex;
  align-items: center;
  position: relative;
  transition-property: padding-top, padding-bottom;
  transition-duration: 0.3s;

}

.logo {
  margin-left: 20px;
}

.logo img {
  text-decoration: none;
}

.navigation {
  position: absolute;
  right: 30px;
}

.navigation li {
  display: inline-block;
}

.navigation a{
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: 700;
  margin-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: pre;
}

.bannerText {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  padding: 0 50px;

}

.bannerText h1 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 65px;
  margin-top: 70px;
}

.bannerText p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 80px;
}

.buttonInBanner {
  padding: 15px 40px;
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

#features {
  padding: 100px 0;
}

.featuresContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.featuresTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 15px;
  width: 360px;
  height: 214px;
  margin-bottom: 50px;

}

.featuresTextContainer h5 {
  margin-top: 30px;
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
}

.featuresTextContainer p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  text-align: center;
  overflow-y: auto;
}

#works {
  display: flex;
  flex-wrap: wrap;
}

.work {
  width: 25%;
  min-height: 350px;
  overflow: hidden;
  border: 0.5px solid white;
  position: relative;
  cursor: pointer;

}

.overlay {
  background: rgba(232, 69, 69, 0.9);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity, 0.3s;
}

.overlay-caption {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.work img {
  transition-duration: 0.5s;
}

.work:hover img {
  transform: scale(1.2);

}

.work:hover .overlay {
  opacity: 1;
}

.work:hover .overlay-caption h5 {
  transform: translateY(-50%);
}

.work:hover .overlay-caption p {
  transform: translateY(10%);
}

.overlay-caption h5,p {
  transition-duration: 0.5s;
  color: white;
  font-size: 14px;
}



.overlay-caption h5 {
  transform: translateY(-400%);
  text-transform: uppercase;
  font-weight: 700;
}

.overlay-caption p {
  transform: translateY(300%);
}

.workClick {

  display: none;


  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;

  padding: 0 40px;


  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.workContainer {

  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 4px;


  max-width: 680px;
  width: 100%;


}

.closeWork {
  position: absolute;
  right: -16px;
  top: -16px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  border-radius: 50%;
  cursor: pointer;
}

.imageOfWork {
  width: 100%;
  height: auto;
}


#teams {
  padding: 100px 0;
}

.teamsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teamCard {
  max-width: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
/*  margin: 0 30px 50px 0;*/
  margin-bottom: 50px;

}

.teamImageContainer {
  width: 100%;
}

.teamImageContainer img {
  width: inherit;
}

.fullName {
  font-size: 22px;
  color: #2d3033;
  margin: 20px 0 10px 0;
}

.teamRole {
  color: #e84545;
  font-size: 13px;
  margin-bottom: 20px;
}

.teamDescription {

  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  flex-grow: 1;
}

.socialNetworkList {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.socialNetworkList a {
  border: 1px solid #e8ecee;
  border-radius: 2px;
  color: #c6cacc;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  margin-right: 5px;
}



.socialNetworkList a:hover, a:active {
  color: white;
  border-color: #e84545;
  background-color: #e84545;
}



#testimonials {
  width: 100%;
  display: flex;
  overflow: hidden;

}

.slideContainer {
  width: 50%;
  max-height: 475px;
  overflow: hidden;
}

.slideContainer img {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
}

.slideInformationContainer {
  width: 50%;
  padding: 100px 145px;
  background-color: #53354A;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slideDescription {
  color: #fff;
  font: italic 36px "Cardo", Georgia, "Times New Roman", serif;
}

.author {
  color: #fff;
  display: block;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  margin-top: 30px;
  text-transform: uppercase;
  align-self: flex-start;
}

.slidesControllerContainer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 7%;
  align-self: center;
}

.slidesControllerContainer > div + div {
  margin-left: 12px;
}

.slideController {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #755d6e;
  cursor: pointer;
}

.activeSlide {
  background-color: #fff !important;
}




@media screen and (max-height: 450px) and (min-width: 785px) {
  .workClick {
    padding: 0 150px;
  }
}

@media screen and (max-width: 480px) {
  .bannerText h1 {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 768px) {
  .bannerText h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 992px) {
  .work {
    width: 50%;
  }

  #testimonials{
    flex-direction: column;
  }

  .slideContainer {
    width: 100%;
  }

  .slideInformationContainer {
    width: 100%;
  }

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1180px) {
  .teamCard {
    margin-right: 70px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 1251px) {
  .slideInformationContainer {
    padding: 60px 70px 80px 70px;
  }
}

